APP_NAME="Circuit Science Inc."
APP_ENV=production
BASE_URL=https://www.circuitscience.ca
SESSION_NAME=CSISESSION
SESSION_LIFETIME=1440
ADMIN_EMAIL=admin@circuitscience.ca
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
ADMIN_PUBLIC_SECRET=replace-with-a-long-random-secret

DB_HOST=localhost
MYSQL_DATABASE=jerrybil_csi
MYSQL_USER=jerrybil_csi
MYSQL_PASSWORD=replace-with-a-strong-database-password
MYSQL_PORT=3306

SMTP_FROM_EMAIL=info@circuitscience.ca
SMTP_FROM_NAME="Circuit Science Website"
MAIL_TO_EMAIL=info@circuitscience.ca
MAIL_TO_NAME="Jerry Bilous"
MAIL_CC_EMAIL=mail@jerrybilous.ca
