APP_ENV=production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=!CSI263e11

SMTP_HOST=mail.circuitscience.ca
SMTP_PORT=587
SMTP_USERNAME=info@circuitscience.ca
SMTP_PASSWORD=!CSI263e11
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=info@circuitscience.ca
SMTP_FROM_NAME="Circuit Science Website"
MAIL_TO_EMAIL=info@circuitscience.ca
MAIL_TO_NAME="Jerry Bilous"
MAIL_CC_EMAIL=mail@jerrybilous.ca